/* Calendrier.css */

/* Style du calendrier */
.fc {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style de l'en-tête du calendrier */
.fc-toolbar {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: x-small;
    text-align: center;
}

/* Style des boutons de l'en-tête du calendrier */
.fc-toolbar .fc-button {
    background-color: rgb(191,205,48);
    color: #ffffff;
    border: 1px solid rgb(138, 148, 23);
    border-radius: 3px;
    font-size: 14px; /* Taille du texte */
    padding: 4px 8px; /* Espacement intérieur du bouton */
}

.fc-button:hover {
    background-color: rgb(138, 148, 23);
    border: 1px solid rgb(138, 148, 23);
}

/* Style des jours de la semaine dans l'en-tête du calendrier */
.fc-col-header-cell-cushion {
    background-color:rgb(220, 220, 241);
    font-weight: bold; /* Police en gras */
    font-size: 95%; /* Taille du texte */
    text-align: center; /* Alignement du texte au centre */
}

.fc-timegrid-slot-label {
    background-color: rgb(232, 229, 250);
}

/* Style des événements sur le calendrier */
.fc-event {
    font-size: 65%;
    background-color: rgb(187, 171, 244);
    color: #ffffff;
    border: 1px solid rgb(187, 171, 244);
    border-radius: 3px;
}

.fc-event:hover {
    background-color: rgb(151, 132, 220);
    border: 1px solid rgb(187, 171, 244);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 15px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 16px;
}