.header-logo {
    height: 25vmin;
    pointer-events: none;
}

header {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Mise au premier plan */
    background-color: rgb(99, 93, 158);
}

.FakeHeader {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Mise au premier plan */
}

.header-link {
    color: #61dafb;
}

.divHeader{
    position: relative;
    margin-top: 40%;
}

