.header-logo {
    height: 15vh;
    pointer-events: none;
}

header {
    position: fixed;
    width: 100%;

    color: white;
    background-color: #282c34;
    height: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Mise au premier plan */
    background-color: rgb(99, 93, 158);
}

.header-link {
    color: #61dafb;
}

.divHeader{
    position: relative;
    margin-top: 20vh;
}

