html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;

}

#CompteData{
    max-height: 25vh;
}
.SalleData {
    display: flex;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px rgb(99, 93, 158);
    flex: 1; /* Utilisez flex pour occuper tout l'espace vertical disponible */
}
.SalleData > div {
    display: flex;
    flex-direction: column;
}

.SalleData img {
    margin-right: 10px;
}

#ZoneTxtSalle {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Modifié pour aligner à gauche */
    text-align: left;
    height: 100vh;
    z-index: 100; /* Mise au premier plan */
}

#ZoneTxtSalle > div {
    margin-bottom: 5px; /* Ajout de marge entre les éléments pour une meilleure lisibilité */
}

#IconZone{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Mise au premier plan */
}